@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300&family=Itim&family=Lato:ital,wght@1,300&family=Lugrasimo&family=Open+Sans:wght@300&family=Playpen+Sans&family=Roboto+Condensed:wght@100&family=Source+Code+Pro:wght@300&family=Ubuntu+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
}

.navbar {
    display: flex;
    height: 62px;
    font-family: 'Ubuntu Condensed', sans-serif;

}

.navbar li {
    list-style: none;
    margin: 0 12px;
}

.topleft {
    width: 50%;

}

.topright {
    width: 50%;
}

.section1 {
    max-height: 100vh;
    color: rgb(7, 28, 70);
}

.section1 h1 {
    font-size: 2rem;
    color: rgb(5, 29, 81);
}

.logo {
    font-size: 1.3rem;
}

.dumbleImg {
    width: 283px;
}
.deal{
    margin-top: 12px;
    font-weight: bold;
}
.btn{
    margin-top: 9px;
}

.topright .gymImg {
    width: 460px;
}

.section2 {
   padding: 73px;
}

.section2 h1 {
    font-size: 2.5rem;
}
.section2 p{
    padding: 0 8vw;
    text-align: center;
}

.box {
    padding: 8px 0;
    margin: 12px 22px;
    min-width: 20vw;
    border: 2px solid rgb(122, 152, 250);
    border-radius: 8px;
    text-align: center;
}

.box h2 {
    font-size: 2rem;
    padding: 15px 0;
}
.highlighted {
    font-size: 1.2rem;
    font-weight: bolder;
}

.box ul {
    list-style-type: none;
}

.box ul li {
    margin: 12px 2px;
}

.plantable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.section3  table{
    width: 100%;
    margin-bottom: 140px;
    margin-top: 20px;
    border-collapse:collapse ;
}
.section3  table th{
   width: 23vw;
   border-bottom: 2px solid black;
   padding: 15px 0;

 
}
.section3  table td{
    border-bottom: 2px solid black;
 }

.section3 h2{
    font-size: 2.5rem;
}
.section3 {
    padding: 73px;
}

footer{
    padding: 23px;
    text-align: center;

}

@media only screen and (max-width: 600px) {
    .section1{
        max-height: 170vh;
    }
   .gymImg{
    display: none;
   }
   .topleft{
    text-align: center;
    margin-top: 20px;
   }
   .topleft h1 {
    font-size: 1.5em;
}


    .flex{
   flex-direction: column;
    }
    .navbar{
       height:20vh ; 
    }
    .dumbleImg{
        width:32vw ;
    }
  }